*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 80%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Poppins", serif;
  font-weight: 500;
  color: #090909;
  line-height: 1.65; }
