// Colors
$color-primary-light: #38bdf8;
$color-primary-dark: #0ea5e9;

$color-secondary-light: #f8fafc;
$color-secondary-dark: #f1f5f9;

$color-tertiary-light: #0a0a0a;
$color-tertiary-dark: darken(#0a0a0a, 0.2);
