.footer {
  color: $color-secondary-dark;
  &__main {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 4rem 0;
    @include responsive(tap-port) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__about {
    width: 33.33%;
    @include responsive(tap-port) {
      width: 70%;
    }

    .paragraph {
      @include responsive(tap-port) {
        padding: 0;
      }
    }
  }

  &__useful {
    width: 33.33%;
    @include responsive(tap-port) {
      width: 70%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;

    .icon {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid transparent;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      width: 100%;
      color: $color-secondary-light;
      text-decoration: none;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba($color-secondary-light, 0.3);
      transition: all 0.3s;
    }

    &:hover {
      color: $color-primary-light;
    }
  }

  &__social {
    width: 33.33%;
    @include responsive(tap-port) {
      width: 70%;
    }
  }
}
