.features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid $color-primary-light;
  border-radius: 7px;
  padding: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(5rem);
  transition: all 0.3s;

  @include responsive(phone) {
    gap: 1.25rem;
  }
  &__icon {
    &-icon {
      width: 7rem;
      @include responsive(tap-port) {
        width: 6rem;
      }

      @include responsive(phone) {
        width: 5rem;
      }
    }
  }

  .paragraph {
    @include responsive(tap-port) {
      padding: 0;
    }
  }
}
