.services {
  &__header {
  }

  &__body {
    display: flex;
    justify-content: center;
    gap: 6rem;

    @include responsive(tap-port) {
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    &-img {
    }

    .btn--learnmore {
      margin: 0 auto;
    }
  }

  &__img {
    width: 100%;
    @include responsive(tap-port) {
      width: 70%;
    }
  }
}
