.tab {
  &__header {
  }

  &__body {
    display: flex;
    flex-direction: column;
    .group-btn {
      @include responsive(phone) {
        flex-direction: column;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__group-content {
    position: relative;
  }

  &__img {
    margin-top: 4rem;
    &--img {
      width: 100%;
      @include responsive(tap-port) {
        width: 80%;
      }
    }
  }
}
