.tab {
  &__header {
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;

    &:not(:first-child) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__group-content {
    position: relative;
    height: 80rem;
  }

  &__img {
    margin-top: 4rem;
    &--img {
      width: 100%;
    }
  }
}
