.change-color-text-white {
  color: $color-secondary-light;
}

.change-Color-text-Graydark {
  color: $color-tertiary-light;
}

.set-to-center {
  max-width: 90rem;
  margin: 0 auto;
}

.margin-btm-small {
  margin-bottom: 2rem;
}

.margin-btm-medium-1 {
  margin-bottom: 4rem;

  @include responsive(phone) {
    margin-bottom: 2rem;
  }
}

.margin-btm-medium-2 {
  margin-bottom: 6rem;
  @include responsive(phone) {
    margin-bottom: 4rem;
  }
}

.margin-btm-large {
  margin-bottom: 8rem;
}

.padding-horizontal {
  padding: 11rem 0;

  @include responsive(tap-port) {
    padding: 9rem 0;
  }

  @include responsive(phone) {
    padding: 7rem 0;
  }
}
